body {
    background-image: url("../images/green.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87%;
    margin: 0 auto;
}

#navimg {
    opacity: 0.3;
    border-radius: 25% 0 0 25%;
}

#navimg2 {
    opacity: 0.4;
    border-radius: 25% 0 0 25%;
    transform: scaleX(-1);
}

a:first-child {
    text-decoration: none;
    font-size: 2em;
    color: #a555e8;
    padding: 0 3em;

}

a:nth-child(2) {
    text-decoration: none;
    font-size: 1.9em;
    color: #db55e8;
    padding: 0 3em;

}

a:last-child {
    text-decoration: none;
    font-size: 1.8em;
    color: #e8557e;
    padding: 0 3em;
}

